# Compiled python modules.
*.pyc

# Byte-compiled
__pycache__/
.cache/
.venv/
.nogpuvenv/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# Repo specific
frames/
checkpoints/
svd_files/
input_data/
